@use "cores.scss";
@import "cores.scss";

.plans {
  padding: 5.6vw;
  @include gradientPlansBackground;

  color: white;

  &__tittle {
    font-size: 32px;
    text-align: center;
    color: white;
  }

  &__list {
    display: flex;
    justify-content: space-around;
    margin: 50px 0 50px 0;
    list-style-type: none;
    text-align: left;
    width: 100%;
    border-radius: 10px;

    @media (max-width: 768px) {
      display: block;
    }

    .button {
      margin-top: 24px;
    }

    &__item {
      @include gradientPlansItem;
      padding: 50px 30px 50px 30px;
      border: 2px solid rgba(255, 255, 255, 0.19);
      border-radius: 10px;

      &__tittle {
        font-size: 32px;
        font-weight: 500;
      }

      &__price {
        font-size: 24px;
        font-weight: 300;
      }

      ul {

        padding: 10px 20px 10px 10px;
        font-weight: 200;
        font-size: 14px;
        letter-spacing: 0.1em;
      }

      li {
        list-style-type: "\002B";
        padding: 5px 10px 0;
      }



      &:nth-child(2) {
        @include gradientPlansItemDestaque;
        background-repeat: no-repeat;
        background-size: contain;
      }

      img {
        height: 83px;
      }

      @media (max-width: 768px) {
        margin: 10px 10px 10px 10px;
      }


    }

  }

  p {
    text-align: center;
  }
}
